
#history{
    display: flex;
    width: auto;
    padding: 30px;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.315);
    margin: 30px 0;
}

h2{
    color: var(--primary-color);
    font-size: 20pt;
    white-space: nowrap; 
    margin-bottom: 15px;
     
}


#history #top{
    margin-bottom: 10px;
}

#history .body{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


#history .body .item{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.315);

}

#history .body #top{
    background-color: var(--primary-color);
    color: #fff;
    font-size: 12pt;

}


#history .body .item h6{
    width: 20%;
    text-align: center;
    font-size: 10pt;
}

#history .body #top h6{
    font-size: 12pt;
}